Flask==2.3.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.3.0
python-dotenv==1.0.1


Flask-Migrate==4.0.5       # For DB migrations
passlib==1.7.4             # For password hashing (like bcrypt/scrypt)


#project setup 

medingen-backend/
│
├── app/
│   ├── __init__.py
│   ├── models.py
│   ├── routes/
│   │   └── api.py
│
├── .env
├── config.py
├── run.py
├── requirements.txt


# .env

FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your_secret_key
DATABASE_URI=mysql+mysqlconnector://root:yourpassword@localhost/medingen 


API ENDPOINTS

# Login endpoint
http://127.0.0.1:5000/api/login # POST  - Generate JWT  validation token

# Get all products
http://127.0.0.1:5000/api/products # GET - authorization required JWT token

# Get product by ID
http://localhost:5000/api/salts/1 # GET - authorization required JWT token

# Create a reviews
http://localhost:5000/api/reviews/1 # GET - authorization required JWT token

# Create a description
http://localhost:5000/api/descriptions/1 # GET - authorization required JWT token



